@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe", "Helvetica";
    font-size: 13px;
    height: 100%;
}
div {
    margin: 10px;
}
#buttons {
    width: auto;
    height: 6%;
    margin: 0px
}
#right {
    width: 22%;
    height: 100%;
    float: right;
    float: top;
    margin: 1%;
}
#top {
    width: 100%;
    height: 6%;
    float: top;
}
#main {
    width: 74%;
    height: 100%;
    margin: 1%;
}
.jumbotron {
    padding: 1rem;
}
input {
    width: auto;
}
#around {
    border: 1px solid #ced4da;
    margin: 0px;
}
button {
    margin: 0px 3px 0px 3px;
}
#chat-clicky {
    margin: 0px 0px 0px 3px;
}
#buzz-clicky {
    margin: 0px 3px 0px 0px;
}